@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --primary-color: #ffffff;
  --secondary-color: #c0c0c0;
  --bttn-color: #167bf7;
  --bg-color: #00030c;

  --font--main: "Inter";
}

body {
  background-color: var(--bg-color);
  color: var(--primary-color);
  font-family: var(--font--main);
  font-size: 16px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
}

.principal {
  background-image: url("../img/Background.png");
  background-repeat: no-repeat;
  background-size: contain;
  align-items: center;
  text-align: center;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
}

.container__botao {
  background-color: var(--bttn-color);
  border-radius: 5px;
  padding: 1em;
  color: var(--primary-color);
  display: block;
  text-decoration: none;
  margin-bottom: 1em;
}

.botao__secundario {
  background-color: transparent;
  border: 2px solid var(--primary-color);
}

.container__aviso {
  font-size: 12px;
  color: var(--secondary-color);
}

.container__titulo {
  font-weight: 700;
  font-size: 28px;
}

.container__imagem {
  margin: 1em 0 2em 0;
}

.container__box {
  margin: 0em 6em;
}

.secondario__imagem {
  width: 80%;
}

.secondario {
  align-items: center;
  margin: 0 10em;
}

.descricao__titulo {
  font-weight: 700;
  font-size: 48px;
  color: var(--primary-color);
  margin-bottom: 0.1em;
}

.descricao__texto {
  color: var(--secondary-color);
  opacity: 0.8;
}

.secondario__botao {
  display: inline-block;
  margin-top: 1em;
}

.container__descricao {
  padding: 2em;
}

.dispositivos {
  text-align: center;
}

.dispositivos__lista {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 5em 0;
}

.dispositivos__titulo {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 40px;
  color: var(--primary-color);
}

.lista__item {
  font-size: 32px;
  color: var(--primary-color);
}

.rodape {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.rodape__logo {
  height: 2.1875em;
  width: 6em;
  margin: 3em 0;
}

.rodape__lista {
  display: flex;
  gap: 3em;
  list-style-type: none;
  text-decoration: none;
}

.lista__link {
  margin: 2em 0;
}

.lista__link_item {
  text-decoration: none;
  color: var(--primary-color);
}

.rodape__texto {
  font-size: 0.8em;
  color: var(--secondary-color);
  margin-bottom: 2em;
}

.lista__link_item:hover {
    color: var(--bttn-color);
}

.lista__link_item:active {
    color: purple;
}


